.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.container {
  margin: 0 auto;
  max-width: 1070px;
  padding: 0 20px 0 20px;
  min-width: 1070px;
}


.top {
  margin: 0 auto;
  position: fixed;
  background: white;

  width:100%;
  max-width: 1070px;
  box-sizing: border-box;
  z-index:99;
}

.fixed {
  position:fixed;
}

.header {
  font-size: 50px;
  font-weight: 300;
  margin: 10px 0;
}
.padding-top {
  margin-top: 90px;  
}


.icon-btn {
  background: none;
  border: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.purpose {
  line-height: 26px;
  color: #C0C0C0;
}

.post-author, 
.comment-author, .subSubHead  {
  font-weight: 400;
  line-height:20px;
}

.post-title {
  font-weight: 500;
  font-size: 20px;
  overflow-y:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

.post-body, 
.comment-body {
  font-size:14px;
  color: #808080;
  margin: 1px 0 10px 0;
}

.timestamp, .gray
{
  font-size:12px;
  line-height:20px;
  color: #d3d3d3;
}

.gray {
  color: #d3d3d3;
  margin-bottom:5px;
}

.subheader {
  font-size: 30px;
  font-weight: 300;
  margin: 5px 0 30px 0;
}

.subSubHead {
  color: #808080 !important;
  margin: 20px 0 10px 0;
}

.post-voteScore:focus,
.my-vote:focus  {
  outline: none !important;
}

.post-voteScore {
  padding:2px;
  text-align: right;
  font-size:8;
  margin: 5px 0 0 0;  
  border-color: #d3d3d3;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  min-width: 30px;
  background-color: white;
  text-align:center;
}

.my-vote {
  background-color: #d3d3d3;
}

.hotTag {
  color: #33C4FF !important;
}

.hotTag:hover, a:-webkit-any-link {  
  text-decoration:  none;
}
a {
  color: #333 !important;
}
.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-gap: 10px;
}

.grid-half {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.cone {
  grid-column: 1 / 2;
}
.ctwo { 
  grid-column: 2 / 2;
}

.grid-sm {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-gap: 1px;
}
.one-sm {
  grid-column: 1 / 3;
}
.two-sm { 
  grid-column: 2 / 3;
}
.three-sm { 
  grid-column: 3 / 3;
}

.inputField {
   width:100%;
   margin: 0 0 10px 0 ; 
   border-width: 0 0 1px 0;
}
.modal-header {
  border: none;
}

.spacer {
  margin-left:5px;
}

.divider {
  border-color: #d3d3d3;
  border-style: solid;
  border-width: 1px 0 0 0; 
}

.textareaInput {
  resize: none;
  width:100%;
  border-color:#e5e5e5;
}

.textareaInput:focus,
.inputField:focus {
  outline-width: 0 0 1px 0;
  outline-color: #e5e5e5 !important;
}

FaPencil {
  color: #33C4FF ;
}

.simpleButton:active,
.simpleButton:focus,
.simpleButton:hover  {
    background-color: transparent;
}

.simpleButton {
  border-width:0 !important;
  padding:0 !important ;
}

